body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
}

body::-webkit-scrollbar-thumb {
  background: #3758fc;
  border-radius: 0 8px 8px 0;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow-x: hidden !important;
}

a:hover {
  text-decoration: none !important;
}

nav {
  background: linear-gradient(50deg, #1e2d40, #151f32);
  padding: 1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Logo {
  margin-left: 5rem;
}

.rightNav {
  position: absolute;
  right: 2rem;
  top: 1.25rem;
  font-size: 0.9em;
  z-index: 1;
}

.rightNav > * {
  margin-left: 1rem;
}

.userImage {
  border-radius: 30%;
  width: 45px;
}

#searchIcon {
  font-size: 1.4em;
  background: #335176;
  border-radius: 30%;
  padding: 0.8rem;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.links {
  width: 35%;
  left: 22%;
  position: relative;
}

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-links li {
  margin-top: 0.3rem;
  font-size: 0.9em;
}

.nav-links li a {
  font-size: 1.3em;
  text-decoration: none;
  color: #929292;
  font-weight: bold;
  position: relative;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.nav-links li a:hover {
  color: white;
}

.nav-links li a:hover::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  background: #328af1;
  width: 100%;
  height: 5px;
  border-radius: 26px;
}

.nav-links-active {
  color: white !important;
  position: relative;
}

.nav-links-active::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  background: #328af1;
  width: 100%;
  height: 5px;
  border-radius: 26px;
}

.burger {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  z-index: 99;
  display: none;
}

.burger > div {
  margin: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.line1 {
  width: 2rem;
  height: 2px;
  background-color: gray;
}

.line2 {
  width: 2rem;
  height: 2px;
  background-color: gray;
}

.line3 {
  width: 1.5rem;
  height: 2px;
  background-color: gray;
}

.toggle {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

.mobileLinks {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  height: 100vh;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.mobileLinks-active {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.mobile-links {
  height: inherit;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-links li {
  margin-top: 0.3rem;
  font-size: 0.9em;
}

.mobile-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.signIn {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.signIn:hover {
  color: #c5c5c5;
}

.loginModal,
.registerModal,
.forgotPWModal {
  z-index: 10;
  position: fixed;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: white;
  border-radius: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  visibility: hidden;
  pointer-events: none;
}

.loginModal-active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
  pointer-events: auto;
}

#exitDivId,
#exitDivId2,
#exitDivId3 {
  position: absolute;
  right: 2.5rem;
  top: 1.8rem;
  font-size: 1.7em;
  background-color: #f4f4f4;
  border-radius: 12px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login p {
  text-align: center;
}

.login label {
  font-size: 0.7em;
  color: gray;
  margin: 0;
  padding: 0;
}

.authInputs {
  border: none;
  border-bottom: 1px solid gray;
  width: 300px;
  font-size: 0.8em;
}

.authInputs:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.authInputs:not(:placeholder-shown) + i {
  color: #3758fc !important;
}

.animated-progress {
  width: 100%;
  height: 2px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.animated-progress span {
  height: 100%;
  display: block;
  position: absolute;
}

.progress-red span {
  background-color: #3758fc;
}

.authSubmit {
  width: 300px;
  border: none;
  background-color: #3758fc;
  border-radius: 16px;
  color: white;
  padding: 0.5rem 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.authSubmit:hover {
  background-color: #2e48cd;
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
}

.buttonload {
  width: 300px;
  border: none;
  background-color: gray;
  border-radius: 16px;
  color: white;
  padding: 0.5rem 0;
}

/* Add a right margin to each icon */
.fa {
  text-align: center;
}

.authCheck {
  position: absolute;
  right: 0.2rem;
  color: gray;
}

.darkness {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: none;
}

.darkness-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.exitDiv {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.exitDiv:hover {
  background-color: #ececec;
  cursor: pointer;
}

.showPW {
  position: absolute;
  font-size: 0.7em;
  color: gray;
  right: 2rem;
  cursor: pointer;
}

#getStarted {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

#getStarted:hover {
  background-color: white;
  color: #2e48cd;
}

@media screen and (max-width: 768px) {
  .wrapper-menu {
    display: block;
  }
  .mobileLInks {
    display: block;
  }
  #signIn {
    display: none;
  }
  #getStarted {
    display: none;
  }
  .Logo {
    margin-left: 2rem;
  }
  .rightNav {
    top: 0.3rem;
    right: 5rem;
  }
  .burger {
    display: block;
  }
  .loginModal,
  .registerModal,
  .forgotPWModal {
    width: 100%;
  }
}

.mainContent {
  height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#1E2D40), to(#0b54b4));
  background: linear-gradient(180deg, #1E2D40, #0b54b4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-clip-path: polygon(0% -2500%, 250% 50%, 35% 100%, 0 90%);
          clip-path: polygon(0% -2500%, 250% 50%, 35% 100%, 0 90%);
  position: relative;
}

.stopScrolling {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#landingImage {
  margin-top: 5rem;
  margin-left: 8rem;
  border-radius: 35%;
  width: calc(60vw - 12vw);
  height: calc(100vh - 12vw);
}

.menuCoding {
  width: 280px;
  height: calc(100vh - 8vw);
  background-color: #0D131D;
  border-radius: 12px;
  right: 15%;
  position: absolute;
  bottom: 0;
}

.firstMenu, .secondMenu {
  padding: 0.75rem;
}

.menuChoice {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 90%;
  margin-left: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
}

.destinationMenu {
  color: #328AF1;
}

.menuChoice:hover {
  background-color: #328AF1;
  border-radius: 6px;
}

.menuChoice:hover .beforeLine::before, .menuChoice:hover .beforeLine2::before {
  background-color: #328AF1;
}

.menuChoice:hover .destinationMenu {
  color: white;
}

.beforeLine {
  position: relative;
  color: #57778E;
  font-size: 0.8em;
}

.beforeLine::before {
  content: "";
  background: #292929;
  position: absolute;
  bottom: 0;
  left: -0.8rem;
  height: 90%;
  width: 4px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.beforeLine2 {
  position: relative;
  font-size: 0.9em;
}

.beforeLine2::before {
  content: "";
  background: #292929;
  position: absolute;
  bottom: 0;
  left: -0.8rem;
  height: 90%;
  width: 4px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.languageCategory {
  width: 200px;
  margin-left: 1rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 16px;
}

.languageCategory:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.7);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.7);
}

.languageRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categoryImg {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.bottomPartLanguage {
  border: 1px solid #f4f2f2;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #f4f2f2;
}

footer {
  background-color: #213351;
  color: white;
}

.top-part-footer {
  text-align: center;
  margin-top: 7%;
}

.microphone-footer {
  left: 23%;
  position: absolute;
  width: 200px;
  height: 180px;
  background-image: url("../../images/microfontFooter.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footerIcons {
  font-size: 1.3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footerIcons:hover {
  color: #0b54b4;
  cursor: pointer;
}

.footerList {
  color: #b5b5b5;
  list-style: none;
}

.footerList li {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0.9em;
}

.footerList li:hover {
  color: white;
  cursor: pointer;
}

.TopicsQuestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  #landingImage {
    display: none;
  }
  .menuCoding {
    height: 750px;
  }
  .mainContent {
    z-index: -1;
  }
  .microphone-footer {
    width: 80px;
    height: 80px;
    left: 10%;
  }
  .top-part-footer h4 {
    margin-top: 5rem;
  }
  .languageCategory {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5rem;
  }
  .categoryImg {
    width: 100%;
    height: 220px;
  }
  .TopicsQuestions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sideMenu {
  position: absolute;
  right: 0;
  top: 0;
  width: 41%;
  height: 100%;
  background: #0D131D;
  z-index: 99;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sideMenu-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.userImageProfile {
  border-radius: 30%;
  width: 60px;
}

.left-side, .right-side {
  padding: 2.5rem 2rem;
}

.sideProfileList {
  text-decoration: none;
  list-style: none;
}

.horizontalLine {
  background: black;
  position: absolute;
  height: 550px;
  width: 1.3px;
  top: 4.5rem;
}

#closeSideMenu {
  z-index: 10;
  font-size: 1.35em;
  color: gray;
  position: absolute;
  right: 1rem;
  top: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

#closeSideMenu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.left-side-discuss {
  color: white;
  padding-top: 10%;
  padding-left: 25%;
}

.left-side-discuss > a {
  background-color: #328af1;
  border-radius: 12px;
  padding: 1rem 2.9rem;
  color: white;
  text-decoration: none;
}

.left-side-discuss ul {
  list-style: none;
}

.left-side-discuss ul li {
  -webkit-transform: translateX(35%);
          transform: translateX(35%);
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 50%;
  padding: 0.7rem 0rem;
  margin-top: 0.5rem;
}

.left-side-discuss ul li a {
  display: inline-block;
  width: 185px;
  color: #d1d1d1;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.left-side-discuss ul li a::before {
  content: "";
  background: #283c55;
  position: absolute;
  left: -2rem;
  top: 0.1rem;
  width: 13px;
  height: 22px;
  border-radius: 40%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.left-side-discuss ul li:hover {
  background: #1e3453;
}

.left-side-discuss ul li:hover a {
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  color: #328af1;
}

.left-side-discuss ul li:hover a::before {
  background: #328af1;
  height: 26px;
}

.middle-discuss {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-discuss select {
  padding: 0.3rem 0.9rem;
  border-radius: 12px;
  background: #1e3453;
  color: #328af1;
  border: none;
  margin-left: 0.5rem;
}

.middle-discuss i {
  color: white;
}

.middle-discuss .sortIcons i {
  margin-right: 1rem;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  font-size: 1.6em;
  color: #304c6f;
}

.middle-discuss .sortIcons > i:first-child {
  color: #d8d8d8 !important;
}

.searchDiscuss {
  border-radius: 26px;
  padding: 0.5rem;
  background: #1e3453;
}

.searchDiscuss input {
  background: #1e3453;
  border: none;
  color: white;
  outline: none;
  padding-left: 0.5rem;
}

.right-side-discuss {
  margin-top: 8rem;
  text-align: center;
  color: white;
}

.right-side-discuss p {
  word-wrap: break-word;
  width: 370px;
  margin-top: 0.5rem;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.right-side-discuss a {
  background: #1e3453;
  padding: 0.3rem 1rem;
  border-radius: 12px;
}

.typeTopic {
  position: absolute;
  right: 2rem;
  border: 1px solid #ea3333;
  color: #ea3333;
  padding: 0.5rem 2.3rem;
  border-radius: 16px;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.typeTopic:hover {
  background: #ea3333;
  color: white;
}

.discussRow {
  color: white;
  background-color: #182d4b;
  border-radius: 16px;
  padding: 1rem;
  width: 100%;
  position: relative;
  height: 175px;
  margin-bottom: 1rem;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.discussRow img {
  border-radius: 24px;
}

.discussRow i {
  color: #4c84c8;
  margin-left: 1rem;
  line-height: 40px;
}

.discussRow:hover {
  background-color: #1d385d;
}

.limitedText {
  display: inline-block;
  width: 500px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-size: 1.1em;
  line-height: 40px;
}

.discuss_description_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
  width: 80%;
  left: 6rem;
  top: -1rem;
  color: #c2c2c2;
}

.replied_ago {
  position: absolute;
  bottom: 0.5rem;
  left: 7rem;
  font-size: 0.9em;
}

.replied_ago span {
  color: white;
}

.new_Discuss_modal {
  z-index: 11;
  position: fixed;
  background: #162e4f;
  max-width: 1000px;
  height: 500px;
  margin: 5% auto;
  /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  border-radius: 26px;
  -webkit-transform: translateY(160%);
          transform: translateY(160%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.new_Discuss_modal-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.new_dicuss_top {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.new_dicuss_top input {
  background: #162e4f;
  border: none;
  color: white;
  outline: none;
  border-radius: 26px;
  padding: 0.8rem;
  width: 80%;
}

.new_dicuss_top input::-webkit-input-placeholder {
  color: white;
}

.new_dicuss_top input:-ms-input-placeholder {
  color: white;
}

.new_dicuss_top input::-ms-input-placeholder {
  color: white;
}

.new_dicuss_top input::placeholder {
  color: white;
}

.new_dicuss_top img {
  border-radius: 12px;
}

.new_dicuss_top select {
  padding: 0.3rem 0.9rem;
  border-radius: 12px;
  background: #162e4f;
  color: #328af1;
  border: none;
  margin-left: 0.5rem;
}

.new_disucss_message textarea {
  background-color: #162e4f;
  color: white;
  padding: 2rem;
  outline: none;
  border: none;
  width: 100%;
  resize: none;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .new_disucss_message input[type="checkbox"],
  .new_disucss_message input[type="radio"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    background: var(--b, var(--background));
    -webkit-transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  }
  .new_disucss_message input[type="checkbox"]:after,
  .new_disucss_message input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0.2rem;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  .new_disucss_message input[type="checkbox"]:checked,
  .new_disucss_message input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .new_disucss_message input[type="checkbox"]:disabled,
  .new_disucss_message input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .new_disucss_message input[type="checkbox"]:disabled:checked,
  .new_disucss_message input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .new_disucss_message input[type="checkbox"]:disabled + label,
  .new_disucss_message input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }
  .new_disucss_message input[type="checkbox"]:hover:not(:checked):not(:disabled),
  .new_disucss_message input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .new_disucss_message input[type="checkbox"]:focus,
  .new_disucss_message input[type="radio"]:focus {
    -webkit-box-shadow: 0 0 0 var(--focus);
            box-shadow: 0 0 0 var(--focus);
  }
  .new_disucss_message input[type="checkbox"]:not(.switch),
  .new_disucss_message input[type="radio"]:not(.switch) {
    width: 21px;
  }
  .new_disucss_message input[type="checkbox"]:not(.switch):after,
  .new_disucss_message input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .new_disucss_message input[type="checkbox"]:not(.switch):checked,
  .new_disucss_message input[type="radio"]:not(.switch):checked {
    --o: 1;
  }
  .new_disucss_message input[type="checkbox"] + label,
  .new_disucss_message input[type="radio"] + label {
    color: gray;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  .new_disucss_message input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }
  .new_disucss_message input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
            transform: rotate(var(--r, 20deg));
  }
  .new_disucss_message input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
  .new_disucss_message input[type="checkbox"].switch {
    background-color: rgba(50, 138, 241, 0.15);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    width: 38px;
    border-radius: 11px;
  }
  .new_disucss_message input[type="checkbox"].switch:after {
    left: 2px;
    top: 3px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
            transform: translateX(var(--x, 0));
  }
  .new_disucss_message input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  .new_disucss_message input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  .new_disucss_message input[type="radio"] {
    border-radius: 50%;
  }
  .new_disucss_message input[type="radio"]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
            transform: scale(var(--s, 0.7));
  }
  .new_disucss_message input[type="radio"]:checked {
    --s: 0.5;
  }
}

.new_disucss_message ul {
  margin: 12px;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 320px;
  margin-left: 2.5rem;
}

.new_disucss_message ul li {
  margin: 16px 0;
  position: relative;
}

.new_dicuss_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-transform: translateX(-2.5%);
          transform: translateX(-2.5%);
  height: 35px;
}

.new_dicuss_post span {
  background-color: rgba(50, 138, 241, 0.15);
  color: white;
  border-radius: 26px;
  padding: 0.8rem 3.4rem;
  margin-right: 2rem;
}

.new_dicuss_post input {
  color: white;
  background-color: #328af1;
  padding: 0.8rem 3.4rem;
  border: none;
  padding: 0.8rem 3.4rem;
  border-radius: 26px;
}
/*# sourceMappingURL=style.css.map */